.pagination {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination li {
    background-color: blueviolet;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}