.employees_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.form label input {
    all: unset;
    border-radius: 5px;
    margin-left: 5px;
    height: 25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 10px;
}


.form button {
    border: none;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.employees {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}